<div>
  <table mat-table [dataSource]="settingDataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- 表头 -->
    <!-- displayedColumns:这个数组表示的每一列的顺序 -->
    <!-- sticky: true 表示表头固定，内容上下滚动的时候，表头不动 -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- 行号 -->
    <ng-container matColumnDef="rowIndex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>行号</th>
      <td mat-cell *matCellDef="let row, index as i">{{i + 1}}</td>
    </ng-container>

    <!-- 名称 -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>名称</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- 类型 -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>类型</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <!-- 创建者id -->
    <ng-container matColumnDef="createId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>创建者</th>
      <td mat-cell *matCellDef="let row">{{row.createId}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="createTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>创建时间</th>
      <td mat-cell *matCellDef="let row">{{row.createTime}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="updateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>更新时间</th>
      <td mat-cell *matCellDef="let row">{{row.updateTime}}</td>
    </ng-container>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </table>
</div>